.DS_Store
KnessetTrivia/KnessetTrivia.xcodeproj/project.xcworkspace/xcuserdata/*
KnessetTrivia/KnessetTrivia.xcodeproj/xcuserdata/*

FacebookSDK/Samples/HelloFacebookSample/HelloFacebookSample.xcodeproj/project.xcworkspace/xcuserdata/